* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  font-family: sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}
.main-header {
  display: flex;
  height: 7rem;
  padding: 0 1.2rem;
  justify-content: space-between;
  align-items: center;
  background-color: #eeeeee;
  position: relative;
}
.main-header_primary-heading {
  font-size: 4rem;
  font-weight: 200;
  color: #393e46;
}
.primary-heading-span {
  font-size: 3.5rem;
  color: #39a2db;
}
.main-header_nav-item {
  display: flex;
  list-style: none;
  gap: 2rem;
}
.items-links:link,
.items-links:visited {
  font-size: 2rem;
  color: #393e46;
  text-decoration: none;
}
.button_mobile {
  border: none;
  cursor: pointer;
  font-size: 3.2rem;
  display: none;
}
.button_mobile-icon[name="close-outline"] {
  display: none;
}
@media (max-width: 56.25em) {
  .main-header_nav {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    background-color: #eeeeee;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.5s ease-in;
    transform: translateX(-100%);
  }
  .nav-open .main-header_nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translate(0);
  }
  .main-header_nav-item {
    flex-direction: column;
    gap: 4.8rem;
  }
  .button_mobile {
    display: block;
  }
  .items-links:link,
  .items-links:visited {
    font-size: 3rem;
  }
  .nav-open .button_mobile-icon[name="close-outline"] {
    display: block;
  }
  .nav-open .button_mobile-icon[name="menu-outline"] {
    display: none;
  }
}
